@page
@model Sso.Pages.ChangePassword

@{
    Layout = "_LayoutHero";
}

<h1 class="hero-title">
    @if (ViewContext.ModelState.IsValid == false)
    {
        <span class="text-danger">
            <b>Oops!</b> @ViewContext.ModelState[""]!.Errors[0].ErrorMessage
        </span>
    }
    else
    {
        <text>Change your password.</text>
    }
</h1>

<form asp-page="/ChangePassword">

    <div class="form-outline mb-4">
        <input asp-for="NewPassword" type="password" class="form-control form-control-lg" required />
        <label asp-for="NewPassword" class="form-label">New Password</label>
    </div>
    
    <div class="form-outline mb-4">
        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" required />
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
    </div>

    <div class="pt-1 mb-4">
        <button class="btn btn-outline-primary btn-lg btn-block px-5" type="submit">Submit</button>
    </div>
</form>