@page
@using Microsoft.AspNetCore.Identity
@using Sso.Identity

@inject UserManager<SsoUser> UserManager;

@{
    Layout = "_LayoutHero";
    var user = await UserManager.GetUserAsync(User);
}

<h1 class="hero-title">
    <b>Hi @user?.FirstName!</b> You are logged in.
</h1>