@page
@using Microsoft.AspNetCore.Identity
@using Sso.Identity

@inject UserManager<SsoUser> UserManager;

@{
    Layout = "_LayoutHero";
    var user = await UserManager.GetUserAsync(User);
}

<h5 class="fw-normal pb-3" style="letter-spacing: 1px;">
    <b>Hi @user?.FirstName!</b> You are logged in.
</h5>