@page
@using Sso

@{
    Layout = "_LayoutHero";
    var user = User.TestUser()!;
    
}

<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">
    <b>Hi @user.GivenName()!</b> You are now logged in.
</h5>
