@page
@using Sso.Identity

@inject SsoUserManager UserManager;

@{
    Layout = "_LayoutHero";
    var user = await UserManager.GetUserAsync(User);
}

<h1 class="hero-title">
    <b>Hi @user?.FirstName!</b> You are logged in.
</h1>