@page "{status}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.WebUtilities
@model Sso.Pages.Error.StatusPage

@{
    Layout = "Shared/_LayoutHero";
}

<h1 class="hero-title">
    <b>@Model.Status</b> @ReasonPhrases.GetReasonPhrase(Model.Status)
</h1>

<div class="pt-1 mb-4">
    <a class="btn btn-outline-primary btn-lg btn-block" asp-page="/Index">Back Home</a>
</div>