@import "bootstrap/scss/functions";

$logo-palette-1: #18C5E0;
$logo-palette-2: #008080;
$logo-palette-3: #5095E8;
$logo-palette-4: #34ADE5;
$logo-palette-5: #808080;
$logo-palette-6: #BB38F6;
$logo-palette-7: #9E51F2;

$primary: $logo-palette-6;
$secondary: $logo-palette-5;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
//@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
//@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
//@import "bootstrap/scss/accordion";
//@import "bootstrap/scss/breadcrumb";
//@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
//@import "bootstrap/scss/progress";
//@import "bootstrap/scss/list-group";
//@import "bootstrap/scss/close";
//@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
//@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/popover";
//@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
//@import "bootstrap/scss/offcanvas";
//@import "bootstrap/scss/placeholders";

@import "bootstrap/scss/helpers";

@import "bootstrap/scss/utilities/api";

@import "./avatar";
@import "./theme-toggle";

// bootstrap icon
svg.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -.125em;
}

.dvh-100 {
  height: 100dvh !important;
}

.hero-title {
  @include font-size($h5-font-size);
  font-weight: $font-weight-normal;
  margin-bottom: $spacer;
  padding-bottom: $spacer;
  letter-spacing: 1px;
}

legend {
  @include font-size($h5-font-size);
}

.input-validation-error {
  @extend .is-invalid
}