<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>ax-h SSO</title>
    
    <link async rel="stylesheet" href="~/app/main.css" />
    <script async src="~/app/main.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
