@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Sso.Identity

@inject SsoUserManager UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="~/">
            <img src="~/assets/icon.png" alt="icon" width="50px" height="50px" />
            ax-h
        </a>
        <ul class="navbar-nav align-items-center gap-2">
            @if (user is not null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="avatar">@user.Initials()</span>
                    </a>
                    <ul class="dropdown-menu" style="right: 0; left: initial;">
                        <li><a class="dropdown-item" asp-page="/ChangePassword">Change Password</a></li>
                        @if (await UserManager.IsInRoleAsync(user, "admin"))
                        {
                            <li><a class="dropdown-item" asp-page="/Admin/ListUsers">Manage Users</a></li>
                            <li><hr class="dropdown-divider"></li>
                        }
                        <li><a class="dropdown-item" asp-page="/Logout/Index">Logout</a></li>
                    </ul>
                </li>
            }
            <li class="nav-item theme-toggle">
                <partial name="Icons/Sun" />
                <partial name="Icons/Moon" />
            </li>
        </ul>
    </div>
</nav>