@page
@model Sso.Pages.Logout.LoggedOut

@{
    Layout = "Shared/_LayoutHero";
}

<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"><b>See ya!</b> You are now logged out.</h5>

@if (Model.PostLogoutRedirectUri != null)
{
<p>
    <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">
        Return to @Model.ClientName
    </a>
</p>
}

<div class="pt-1 mb-4">
    <a class="btn btn-outline-primary btn-lg btn-block" asp-page="/Login/Index">Login Again</a>
</div>


<script>
    window.addEventListener("load", function () {
        const a = document.querySelector("a.PostLogoutRedirectUri");
        if (a) {
            window.location = a.href;
        }
    });
</script>
